<div x-data="{ open: false}">
	<div class="bg-white shadow-md rounded-xl p-6 hover:shadow-lg transition" @click="open = !open" @click.outside="open = false">

		<h2 class="text-xl font-semibold text-gray-800 mb-2">
			{{ book.title }}
		</h2>

		<p class="text-gray-600 mb-1">
			<span class="font-medium">Description:</span>
			{{ book.description }}
		</p>

		<p class="text-gray-600">
			<span class="font-medium">Pages:</span>
			{{ book.pageNumber }}
		</p>

	</div>
	<twig:Modal :book="book"/>
</div>
